.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Track-information {
  display: flex;
  flex-direction: column;
}

.Track-action {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}